#quarto-search {
  font-size: 0.925rem;
  padding: 0.3rem 0.6rem;
}

#quarto-search:focus {
  box-shadow: none;
}

#quarto-search-results {
  width: 400px;
  max-width: 85vw;
  position: relative;
  z-index: 2000;
}

#quarto-search-results .algolia-autocomplete {
  width: 100%;
}

#quarto-search-results .algolia-autocomplete .aa-dropdown-menu {
  max-height: 65vh;
  overflow-y: auto;
}

#quarto-search-results .search-result-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.2rem; /* fallback */
  max-height: 2.4rem; /* fallback */
}

#quarto-search-results .search-result-section {
  color: theme-dim($popover-body-color, 25%);
  font-size: 0.925rem;
}

#quarto-search-results .aa-suggestion {
  cursor: pointer;
}

#quarto-search-results .aa-suggestion .card {
  padding: 8px 16px;
  padding-bottom: 8px;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: $popover-bg;
  border-color: $popover-border-color;
  color: $popover-body-color;
}

#quarto-search-results .aa-suggestion .card p {
  margin-top: 0;
  margin-bottom: 0;
}

#quarto-search-results .aa-suggestion .card .search-result-title {
  margin-bottom: 0.1rem;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor .card {
  background-color: theme-fade(
    $component-active-bg,
    $popover-bg,
    5%
  ) !important;
  color: $component-active-color !important;
}

.algolia-autocomplete
  .aa-dropdown-menu
  .aa-suggestion.aa-cursor
  .card
  .search-result-section {
  color: theme-dim($component-active-color, 15%) !important;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: 500;
  font-style: normal;
}
