
#quarto-sidebar #quarto-search {
  margin-bottom: 1em;
}

#quarto-search:focus {
  box-shadow: none;
}

#quarto-search-results {
  width: 300px;
  position: relative;
  z-index: 2000;
}

#quarto-search-results .algolia-autocomplete {
  width: 100%;
}


#quarto-search-results .aa-suggestion {
  cursor: pointer;
}

#quarto-search-results .aa-suggestion .card {
  padding: 8px;
}

#quarto-search-results .aa-suggestion:not(:first-of-type) .card {
  border-top: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor .card {
  background-color: var(--bs-light);
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}



