/*-- scss:defaults --*/
$dashboard-card-toolbar-top-margin: 6px !default;

/*-- scss:rules --*/

// Value Boxes
$valuebox-bg-primary: $primary !default;
$valuebox-bg-secondary: $secondary !default;
$valuebox-bg-success: $success !default;
$valuebox-bg-info: $info !default;
$valuebox-bg-warning: $warning !default;
$valuebox-bg-danger: $danger !default;
$valuebox-bg-light: $light !default;
$valuebox-bg-dark: $dark !default;

$valuebox-colors: (
  "primary":
    theme-override-value(
      $theme-name,
      "valuebox-bg-primary",
      $valuebox-bg-primary
    ),
  "secondary":
    theme-override-value(
      $theme-name,
      "valuebox-bg-secondary",
      $valuebox-bg-secondary
    ),
  "success":
    theme-override-value(
      $theme-name,
      "valuebox-bg-success",
      $valuebox-bg-success
    ),
  "info":
    theme-override-value($theme-name, "valuebox-bg-info", $valuebox-bg-info),
  "warning":
    theme-override-value(
      $theme-name,
      "valuebox-bg-warning",
      $valuebox-bg-warning
    ),
  "danger":
    theme-override-value($theme-name, "valuebox-bg-danger", $valuebox-bg-danger),
  "light":
    theme-override-value($theme-name, "valuebox-bg-light", $valuebox-bg-light),
  "dark":
    theme-override-value($theme-name, "valuebox-bg-dark", $valuebox-bg-dark),
);

// Dashboards
.quarto-dashboard {
  @include media-breakpoint-up(sm) {
    height: 100%;
  }

  @each $valuebox-color, $valuebox-color-value in $valuebox-colors {
    .card.valuebox.bslib-card.bg-#{$valuebox-color} {
      background-color: $valuebox-color-value !important;
    }
  }

  &.dashboard-fill {
    display: flex;
    flex-direction: column;
  }

  #quarto-appendix {
    display: none;
  }

  .dashboard-page:not(.dashboard-sidebar-container) {
    padding: 0.7em;
  }

  // Navbar / Navigation
  #quarto-header #quarto-dashboard-header {
    border-top: solid 1px theme-dim($navbar-bg, 10%);
    border-bottom: solid 1px theme-dim($navbar-bg, 10%);

    > nav {
      padding-left: 1em;
      padding-right: 1em;
      .navbar-brand-container {
        padding-left: 0;
      }
    }
  }

  #quarto-dashboard-header {
    .navbar {
      padding: 0;

      &.slim {
        .navbar-brand-container,
        .navbar-nav {
          .nav-link {
            padding: 0.7em;
          }
        }
      }

      .navbar-toggler {
        order: 10;
      }

      .navbar-nav {
        .nav-link {
          padding: 0.5em;
          height: 100%;
          display: flex;
          align-items: center;
          .nav-link-text {
            white-space: nowrap;
          }
        }
        & .active {
          background-color: theme-dim($navbar-bg, 8%);
        }
      }

      .navbar-brand-container {
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        margin-right: 2em;
        align-items: center;
        @include media-breakpoint-down(md) {
          margin-right: auto;
        }
      }

      .navbar-collapse {
        @include media-breakpoint-up(md) {
          order: 8;
        }
        @include media-breakpoint-down(md) {
          order: 1000;
          padding-bottom: 0.5em;
        }
        align-self: stretch;
        .navbar-nav {
          align-self: stretch;
        }
      }

      .navbar-title {
        font-size: 1.25em;
        line-height: 1.1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        .navbar-title-text {
          margin-right: 0.4em;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .navbar-author {
        font-size: 0.9rem;
      }

      .navbar-logo {
        max-height: 48px;
        min-height: 30px;
        object-fit: cover;
        margin-right: 1em;
      }

      .quarto-dashboard-links {
        order: 9;
        padding-right: 1em;
      }
      .quarto-dashboard-link-text {
        margin-left: 0.25em;
      }

      .quarto-dashboard-link {
        padding-right: 0em;
        padding-left: 0.7em;
        text-decoration: none;
        color: $navbar-fg;
      }
    }
  }

  .page-layout-custom .tab-content {
    padding: 0;
    border: none;
  }

  .card-header,
  .card-footer {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .card-body > .h4:first-child {
    margin-top: 0;
  }

  .card-footer {
    font-size: 0.9em;
  }
}

.quarto-dashboard-img-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.quarto-dashboard {
  // Mobile sizes convert into 'scrolling' layouts
  @include media-breakpoint-down(sm) {
    .bslib-grid {
      grid-template-rows: minmax(1em, max-content) !important;
    }
    .sidebar-content {
      height: inherit;
    }
    .page-layout-custom {
      min-height: 100vh;
    }
  }

  &.dashboard-sidebar > .page-layout-custom {
    padding: 0;
    > .bslib-sidebar-layout {
      > .sidebar {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  .bslib-sidebar-layout {
    > div.main {
      padding: 0.7em;
    }

    button.collapse-toggle {
      margin-top: 0.3em;
    }
  }

  .callout {
    margin-bottom: 0;
    margin-top: 0;
  }

  .html-fill-container figure {
    overflow: hidden;
  }

  bslib-tooltip {
    .rounded-pill {
      .svg {
        fill: $body-color;
      }
      border: solid $text-muted 1px;
    }
  }

  .tabset .dashboard-card-no-title .nav-tabs {
    margin-left: 0;
    margin-right: auto;
  }

  .tabset .tab-content {
    border: none;
  }

  .tabset .card-header {
    .nav-link[role="tab"] {
      margin-top: -6px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .card.valuebox,
  .card.bslib-value-box {
    min-height: 3rem;
    .card-body {
      padding: 0;
    }
  }

  .bslib-value-box {
    .value-box-value {
      font-size: clamp(0.1em, 15cqw, 5em);
    }

    .value-box-showcase .bi {
      font-size: clamp(0.1em, max(18cqw, 5.2cqh), 5em);

      text-align: center;
      height: 1em;
    }

    .value-box-showcase .bi::before {
      vertical-align: 1em;
    }

    .value-box-area {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .card figure.quarto-float {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-scrolling {
    padding: 1em;
  }

  .full-height {
    height: 100%;
  }

  .showcase-bottom {
    .value-box-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: "top" "bottom";

      .value-box-showcase {
        grid-area: bottom;
        padding: 0;
        margin: 0;
        i.bi {
          font-size: 4rem;
        }
      }
      .value-box-area {
        grid-area: top;
      }
    }
  }

  .tab-content {
    margin-bottom: 0;
  }

  .bslib-sidebar-layout .collapse-toggle {
    top: 0;
  }

  .bslib-sidebar-layout:not(.sidebar-collapsed) .collapse-toggle {
    right: 2px;
  }

  .bslib-sidebar-layout.sidebar-collapsed:not(.transitioning) .collapse-toggle {
    left: 2px;
  }

  .bslib-card .bslib-navs-card-title {
    justify-content: stretch;
    align-items: end;

    .card-toolbar {
      flex-grow: 1;
      width: 100%;
    }
  }

  .card-toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    > * {
      font-size: 0.8em;
      flex-grow: 0;
    }

    > .card-title {
      font-size: 1em;
      flex-grow: 1;
      align-self: flex-start;
      margin-top: $dashboard-card-toolbar-top-margin;
    }
  }

  .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .tabset {
    .card-toolbar {
      margin-bottom: 1em;
    }
  }

  .card {
    .shiny-input-container {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      width: inherit;

      > .checkbox:first-child {
        margin-top: $dashboard-card-toolbar-top-margin;
      }
    }

    .card-toolbar {
      flex-wrap: wrap;

      input[type="text"] {
        line-height: 1;
        width: inherit;
      }

      .input-daterange {
        width: inherit;
        input[type="text"] {
          height: 2.4em;
          width: 10em;
        }

        .input-group-addon {
          height: auto;
          padding: 0;
          margin-left: -5px !important;
          margin-right: -5px;

          .input-group-text {
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
          }
        }
      }

      .cell-output-display {
        display: flex;
      }

      div.checkbox {
        margin-bottom: 0px;
      }

      > *:last-child {
        margin-right: 0;
      }

      > * {
        margin-right: 1em;
        .shiny-input-container {
          padding-bottom: 0;
          margin-bottom: 0;
          > * {
            flex-shrink: 0;
            flex-grow: 0;
          }
        }
        align-items: baseline;

        .form-group.shiny-input-container:not([role="group"]) > label {
          margin-bottom: 0;
        }

        .shiny-input-container.no-baseline {
          align-items: start;
          padding-top: $dashboard-card-toolbar-top-margin;
        }

        .shiny-input-container {
          display: flex;
          align-items: baseline;

          label {
            padding-right: 0.4em;
          }

          .bslib-input-switch {
            margin-top: $dashboard-card-toolbar-top-margin;
          }
        }

        span.irs.irs--shiny {
          width: 10em;
          .irs-line {
            top: 9px;
          }
          .irs-min,
          .irs-max,
          .irs-from,
          .irs-to,
          .irs-single {
            top: 20px;
          }
          .irs-bar {
            top: 8px;
          }
          .irs-handle {
            top: 0px;
          }
        }

        > a {
          text-decoration: none;
          margin-top: auto;
          margin-bottom: auto;
        }

        .shiny-input-checkboxgroup {
          > label {
            margin-top: $dashboard-card-toolbar-top-margin;
          }
          > .shiny-options-group {
            margin-top: 0;
            align-items: baseline;
          }
        }

        .shiny-input-radiogroup {
          > label {
            margin-top: $dashboard-card-toolbar-top-margin;
          }
        }

        .shiny-input-radiogroup > .shiny-options-group {
          align-items: baseline;
          margin-top: 0;
          > .radio {
            margin-right: 0.3em;
          }
        }
      }

      .form-select {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
      }
    }
  }

  .sidebar {
    .card-body {
      margin-bottom: 2em;
    }

    .shiny-input-container {
      margin-bottom: 1em;
    }

    .shiny-options-group {
      margin-top: 0;
    }
    .control-label {
      margin-bottom: 0.3em;
    }
  }
  .card .card-body .quarto-layout-row {
    align-items: stretch;
  }
}
