[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
bokeh = "*"
pandas = "*"
matplotlib = "*"
pexpect = {version = "*", sys_platform = "!= 'win32'"}
ptyprocess = {version = "*", sys_platform = "!= 'win32'"}
appnope = {version = "*", sys_platform = "== 'darwin'"}
ipyleaflet = "*"
seaborn = "*"
shiny = "*"
itables = "*"

[dev-packages]

[requires]
python_version = "3.11"
