<% if (nav.layout) { %>

<% if (nav.prevPage || nav.nextPage) { %> 
<nav class="page-navigation">
  <div class="nav-page nav-page-previous">
    <% if (nav.prevPage) { %>
      <a  href="<%- nav.prevPage.href %>" class="pagination-link">
        <i class="bi bi-arrow-left-short"></i> <span class="nav-page-text"><%= nav.prevPage.text %></span>
      </a>          
    <% } %>
  </div>


  <div class="nav-page nav-page-next">
    <% if (nav.nextPage) { %>
      <a  href="<%- nav.nextPage.href %>" class="pagination-link">
        <span class="nav-page-text"><%= nav.nextPage.text %></span> <i class="bi bi-arrow-right-short"></i>
      </a>
    <% } %>
  </div>

</nav>
<% } %>

</div> <!-- /content -->


<% if (nav.footer && (nav.footer.left || nav.footer.center || nav.footer.right)) { %>
<footer class="footer">
  <div class="nav-footer">
    <% if (nav.footer.left) { %> 
    <div class="nav-footer-left">
      <% partial('nav-footer-section.ejs', { contents: nav.footer.left })%>
    </div>   
    <% } %>
    <% if (nav.footer.center) { %> 
      <div class="nav-footer-center">
        <% partial('nav-footer-section.ejs', { contents: nav.footer.center}) %>
      </div>
    <% } %>
    <% if (nav.footer.right) { %> 
    <div class="nav-footer-right">
      <% partial('nav-footer-section.ejs', { contents: nav.footer.right}) %>
    </div>
    <% } %> 
  </div>
</footer>
<% } %>


<% } %>
