<% if (nav.layout) { %>

</main>

</div> <!-- /main column -->

<% if (nav.toc) { %>
<div id="quarto-toc-sidebar" class="col col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-toc">
  
</div> <!-- /toc column -->
<% } %>

</div> <!-- /row -->

<div class="row">

<% if (nav.prevPage) { %>
  <div class="nav-page nav-page-previous col col-6">
    <a href="<%- nav.prevPage.href %>" title="<%- nav.prevPage.text %>">
      <i class="bi bi-arrow-left-short"></i>
    </a>
  </div>
<% } %>

<% if (nav.nextPage) { %>
  <div class="nav-page nav-page-next col col-6">
    <a  href="<%- nav.nextPage.href %>" title="<%- nav.nextPage.text %>">
      <i class="bi bi-arrow-right-short"></i>
    </a>
  </div>
<% } %>

</div>

</div> <!-- /container fluid -->

<% } %>