<% if (navbar.title || navbar.logo) { %>
  <a class="navbar-brand" href="<%- navbar['logo-href'] || '/index.html' %>">
  <% if (navbar.logo) { %>
    <img src="<%- navbar.logo %>" alt="<%- navbar['logo-alt'] || '' %>" />
  <% } %>
  <% if (navbar.title) { %>
    <span class="navbar-title"><%- navbar.title %></span>
  <% } %>
  </a>
<% } %>
