/*-- scss:rules --*/

ul.pagination {
  float: right;
  padding-left: 8px;
  padding-top: 0.5em;
  li {
    padding-right: 0.75em;
  }
  li.disabled,
  li.active {
    a {
      color: $body-color;
      text-decoration: none;
    }
  }
}

.quarto-listing-filter {
  margin-bottom: 0.8em;
}

.quarto-grid-item.card div.card-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
    color: $light;
  }
}

.quarto-grid-item .card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  p {
    margin-bottom: 0;
  }
}

.card-right {
  text-align: right;
}

.card-left {
  text-align: left;
}

.card-center {
  text-align: center;
}

table.quarto-listing td.image {
  padding: 0px;
  img {
    width: 100%;
    max-width: 50px;
    object-fit: contain;
  }
}

.quarto-post {
  display: flex;
  a.post-contents {
    display: flex;
    flex-basis: 67%;
    div.title {
      flex-shrink: 0;
    }

    div.description {
      flex-shrink: 0;
    }
  }

  a.image-left {
    flex-direction: row;
  }
  a.image-right {
    flex-direction: row-reverse;
  }

  .metadata {
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-family: $font-family-base;
    flex-basis: 33%;
  }

  .thumbnail {
    width: 35%;
    margin-bottom: 0;
    position: relative;
    max-width: 500px;
    flex-basis: 25%;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
