/*-- scss:rules --*/

ul.pagination {
  float: right;
  padding-left: 8px;
  padding-top: 0.5em;
  li {
    padding-right: 0.75em;
  }
  li.disabled,
  li.active {
    a {
      color: $body-color;
      text-decoration: none;
    }
  }
}

.quarto-listing-filter {
  margin-bottom: 0.8em;
  width: 33%;
  margin-left: auto;
}

.quarto-grid-item.card div.card-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
    color: $light;
  }
}

.quarto-grid-item {
  .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    p {
      margin-bottom: 0;
    }
    img.thumbnail-image {
      object-fit: cover;
    }
  }
}
.card-right {
  text-align: right;
}

.card-left {
  text-align: left;
}

.card-center {
  text-align: center;
}

table.quarto-listing td.image {
  padding: 0px;
  img {
    width: 100%;
    max-width: 50px;
    object-fit: contain;
  }
}

.quarto-post.image-left {
  flex-direction: row;
}

.quarto-post.image-right {
  flex-direction: row-reverse;
}

.quarto-post {
  display: flex;
  margin-bottom: 1.5em;

  .metadata {
    flex-basis: 15%;
    flex-grow: 0;
  }

  .thumbnail {
    flex-basis: 25%;
    flex-grow: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .body {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 1em;
    margin-right: 1em;

    h2.title {
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: none;
    }
  }

  a.post-contents {
    color: $body-color;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    div.description {
      flex-shrink: 0;
    }
  }

  .metadata {
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-family: $font-family-base;
    flex-basis: 33%;
  }
}
