
<header id="title-block-header" class="quarto-title-block default$if(quarto-template-params.banner-header-class)$ $quarto-template-params.banner-header-class$$endif$">
  <div class="quarto-title-banner">
    <div class="quarto-title column-body">
      $if(title)$<h1 class="title">$title$</h1>$endif$
      $if(subtitle)$
      <p class="subtitle lead">$subtitle$</p>
      $endif$
      $if(abstract)$
      <div>
        <div class="description">
          $abstract$
        </div>
      </div>
      $endif$
      $if(categories)$
        $if(quarto-template-params.title-block-categories)$
      <div class="quarto-categories">
        $for(categories)$
        <div class="quarto-category">$categories$</div>
        $endfor$
      </div>
        $endif$
      $endif$
    </div>
  </div>
    
  $title-metadata.html()$
  
  </header>

  