/*-- scss:defaults --*/
$link-color: #39729E;
$text-muted: #6a737b;

/*-- scss:rules --*/

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: .875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

.hello-quarto-banner h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#quarto-announcement {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: $white;
  background-color: #447099; 
}

#quarto-announcement a {
  color: $white;
}

