<style type="text/css">
  .reveal-references {
    display: none;
  }

  .reveal div.sourceCode {
    margin: 0;
    overflow: auto;
  }

  .reveal div.hanging-indent {
    margin-left: 1em;
    text-indent: -1em;
  }

  .reveal .slide {
    height: 100%;
    <% if (scrollable) { %>overflow-y: auto;<% } %>
  }

  .reveal .slide.scrollable {
    overflow-y: auto;
  }

  .reveal .slide .absolute {
    position: absolute;
    display: block;
  }

  .reveal .tippy-content>* {
    margin-top: 0.2em;
    margin-bottom: 0.7em;
  }

  .reveal .tippy-content>*:last-child {
    margin-bottom: 0.2em;
  }
</style>