table.features-formats-table,
table.features-formats-table tr:not(.header-row) {
  height: 100%;
  border-color: #0000;
}

table.features-formats-table tr {
  border-color: #0000; /* I can't seem to make the border go away but I can change the color, so... */
}

table.features-formats-table td,
table.features-formats-table th {
  padding: 0.5em;
}

table.features-formats-table td[data-quarto-table-cell-role="th"] {
  font-weight: bold;
}

.features-formats-table td.spanner div.inner_spanner {
  height: 100%;
  border-right: 2px solid #ccc;
  padding-right: 0.5em;
}
