/*-- scss:variables --*/
<%= options.scssVars() %>

/*-- scss:rules --*/

div.broadside {
  display: flex;
  flex-direction: column;

  .about-main {
    display: flex !important;
    padding-top: 0 !important;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: flex-start;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .entity {
      @include media-breakpoint-down(lg) {
        flex-shrink: 0;
        width: 100%;
        height: 450px;
        margin-bottom: 1.5em;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @include media-breakpoint-up(lg) {
        flex: 0 10 50%;
        margin-right: 1.5em;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .contents {
      padding-top: 14px;
      flex: 0 0 50%;
    }
  }

  h2 {
    border-bottom: none;
  }

  .about-links {
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }

  .about-sep {
    margin-top: 1.5em;
    width: 60%;
    align-self: center;
  }

  .about-link:hover {
    color: $link-color;
  }

  .about-link {
    font-size: 0.8em;
    color: lighten($body-color, 20%);
    text-decoration: none;
    :hover {
      color: $link-color;
    }
    padding: 0.25em 0.5em;
    i.bi {
      margin-right: 0.15em;
    }
  }
}
