/*-- scss:variables --*/
<%= options.scssVars() %>

/*-- scss:rules --*/

div.jolla {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

  .about-image {
    height: 10em;
    width: 10em;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    <% if (options["image-shape"] === "round") { %> 
      border-radius: 50%;
    <% } else if (options["image-shape"] === "rounded") { %>
      border-radius: 8px;
    <% } %>

  }

  h2 {
     border-bottom: none;
  }

  .about-sep {
    width: 60%;
  }

  main {
    text-align: center;
  }

  .about-links {
    display: flex;
    column-gap: 20px;
  }

  .about-link:hover {
    color: $link-color;
  }

  .about-link {
    font-size: 0.8em;
    color: lighten($body-color, 20%);
    text-decoration: none;
    :hover {
      color: $link-color;
    }
    padding: 0.25em 0.5em;
    border: solid 1px;
    border-radius: 4px;
    i.bi {
      margin-right: .15em;
    }

  }
}
