<% if ( options.background) { %>
/*-- scss:variables --*/
$body-bg: <%- options.background%> !default;
$body-color: theme-contrast($body-bg, $body-bg) !default;
$link-color: theme-contrast($primary, $body-bg, "A") !default;
<% } %>

/*-- scss:rules --*/

div.marquee {
  margin-top: 0;
  padding-top: 0 !important;

  .about-image {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    margin-bottom: 1.5em;

  }

  h2 {
     border-bottom: none;
  }

  .about-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about-sep {
    width: 60%;
  }

  .about-links {
    display: flex;
    column-gap: 20px;
  }

  .about-link:hover {
    color: $link-color;
  }

  .about-link {
    font-size: 0.8em;
    color: lighten($body-color, 20%);
    text-decoration: none;
    :hover {
      color: $link-color;
    }
    padding: 0.25em 0.5em;
    i.bi {
      margin-right: .15em;
    }
  }
}
