<% if ( options.background) { %>
/*-- scss:variables --*/
$body-bg: <%- options.background%> !default;
$body-color: theme-contrast($body-bg, $body-bg) !default;
$link-color: theme-contrast($primary, $body-bg, "A") !default;
<% } %>

/*-- scss:rules --*/

div.solana {
  display: flex !important;
  flex-direction: column;
  padding-top: 3em !important;

  .entity {
    display: flex !important;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    .entity-contents {
      display: flex;
      flex-direction: column;
    }

    .about-image {
      height: 15em;
      object-fit: cover;
    }
  
    .about-sep {
      width: 60%;
      margin-bottom: 1.5em;
      margin-top: 0;
    }  
    .about-links {
      display: flex;
      column-gap: 20px;
    }
  
    .about-link:hover {
      color: $link-color;
    }
  
    .about-link {
      font-size: 0.8em;
      color: lighten($body-color, 20%);
      text-decoration: none;
      :hover {
        color: $link-color;
      }
      padding: 0.25em 0.5em;
      border: solid 1px;
      border-radius: 4px;
    }
  }

  .contents {
    flex-basis: 0;
    flex-grow: 1;
    main.content {
      margin-top: 0;
    }
  }

}
