<% if ( options.background) { %>
/*-- scss:variables --*/
$body-bg: <%- options.background%> !default;
$body-color: theme-contrast($body-bg, $body-bg) !default;
$link-color: theme-contrast($primary, $body-bg, "A") !default;
<% } %>

/*-- scss:rules --*/

div.solana {
  display: flex !important;
  flex-direction: column;
  padding-top: 3em !important;

  .entity {
    display: flex !important;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    .entity-contents {
      display: flex;
      flex-direction: column;
    }

    .about-image {
      height: 15em;
      object-fit: cover;
      <% if (options.rounded) { %> 
        width: 15em;
        border-radius: 50%;
      <% } %>
    }
  
    .about-sep {
      margin-bottom: 1.5em;
      margin-top: 0;
    }  

   
    .about-links {
      display: flex;
      column-gap: 20px;
    }
  
    .about-link:hover {
      color: $link-color;
    }
  
    .about-link {
      font-size: 1em;
      color: theme-fade($body-color, $body-bg, 10%);
      text-decoration: none;
      padding: 0.25em 0.75em;
      border: solid 1px;
      border-radius: 4px;
      :hover {
        color: $link-color;
      }
      i.bi {
        margin-right: .25em;
      }
    }
  }

  .contents {
    flex-basis: 0;
    flex-grow: 1;
    margin-top: -3em;
    main.content {
      margin-top: 0;
    }
    h2 {
      border-bottom: none;
    }

  }

}
