/*-- scss:defaults --*/

$callout-color-note: rgb(128, 0, 128);
$callout-color-tip: rgb(255, 255, 0);
$callout-color-important: rgb(128, 128, 128);
$callout-color-caution: rgb(0, 128, 0);
$callout-color-warning: rgb(173, 216, 230);

$callout-border-width: 10px;
