</main>

</div> <!-- /main column -->

<% if (toc) { %>
<div id="quarto-toc-sidebar" class="col col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-chapter">
  
</div> <!-- /toc column -->
<% } %>


</div> <!-- /row -->
</div> <!-- /container fluid -->