<div id="quarto-content" class="page-columns page-rows-contents page-layout-<%- pageLayout %><%- (tocLocation.includes("left")) ? " toc-left" : ""%>">

<% if (tocLocation.includes("left")) { %>
<div id="quarto-sidebar-toc-left" class="sidebar toc-left">
  <div id="quarto-toc-target"></div>
</div>
<% } %>

<div id="quarto-margin-sidebar" class="sidebar margin-sidebar">
  <% if (tocLocation.includes("right")) { %>
  <div id="quarto-toc-target"></div>
  <% } %>
</div>

<main class="content" id="quarto-document-content">
