<div id="quarto-content" class="container-fluid page-layout-<%- pageLayout %>">

<div class="page-columns">

<% if (toc) { %>
<div id="quarto-toc-sidebar" class="sidebar sidebar-toc"></div>
<% } %>

<main class="content">
