<div id="quarto-content" class="container-fluid">
<div class="row">

<% if (sidebar) { %>
<div id="quarto-sidebar" class="col mx-auto col-lg-3 d-none d-lg-block sidebar">
   Sidebar  

</div>
<% } %>

<div class="col mx-auto col-sm-12 col-md-9 col-lg-7">
<main>


