<div id="quarto-content" class="container-fluid page-layout-<%- pageLayout %>">

<div class="grid">

<% if (toc) { %>
<div id="quarto-toc-sidebar" class="g-col-md-6 g-col-lg-4 px-3 d-none d-md-block sidebar sidebar-toc order-last"></div>
<% } %>

<main class="mx-auto g-col-sm-24 g-col-md-18 g-col-lg-14 px-3">
