
<% if (nav.navbar) { %>  

<nav class="navbar fixed-top navbar-expand<%- nav.navbar["collapse-below"] %> navbar-<%- nav.navbar.type %> bg-<%- nav.navbar.background %>">
  <div class="container-fluid">
  <% partial('navbrand.ejs', nav.navbar) %>
  <% if (nav.navbar.left || nav.navbar.right) { %>  
    <% if (nav.navbar.collapse === "none") { %>
      <% partial('navitems.ejs', { align: 'me-auto', items: nav.navbar.left}) %>
      <% partial('navitems.ejs', { align: '', items: nav.navbar.right }) %>
      <% if (nav.navbar.search) { %>
        <% partial('navsearch.ejs') %>
      <% } %>
    <% } else if (nav.navbar.collapse === "left") { %>
      <% partial('navtoggle.ejs') %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.navbar.left}) %>
      </div> <!-- /navcollapse -->
      <% partial('navitems.ejs', { align: 'ms-auto', items: nav.navbar.right }) %>
      <% if (nav.navbar.search) { %>
        <% partial('navsearch.ejs') %>
      <% } %>
    <% } else { %>
      <% partial('navtoggle.ejs') %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.navbar.left}) %>
        <% partial('navitems.ejs', { align: '', items: nav.navbar.right }) %>
        <% if (nav.navbar.search) { %>
          <% partial('navsearch.ejs') %>
        <% } %>
      </div> <!-- /navcollapse -->
    <% } %> 
  <% } %>

  </div> <!-- /container-fluid -->
</nav>

<% } %>

<% if (nav.sidebar) { %>

<nav class="quarto-secondary-nav py-2 d-lg-none d-md-block bg-light" aria-label="Secondary navigation">
  <div class="container-fluid d-flex justify-content-between">
    <h1 class="quarto-secondary-nav-title mb-0 fs-5 d-inline"></h1>
    <button class="quarto-btn-toggle btn d-lg-none py-0 px-1 btn-secondary btn-lg d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#quarto-sidebar" aria-controls="quarto-sidebar" aria-expanded="false" aria-label="Toggle sidebar navigation">
      <i class="bi bi-arrows-expand"></i>
      <i class="bi bi-arrows-collapse"></i>
    </button>

  </div>
</nav>

<% } %>

<div id="quarto-content" class="container-fluid">
<div class="row">

<% if (nav.sidebar) { %>
<div id="quarto-sidebar" class="col mx-auto col-12 col-lg-3 sidebar collapse">
  <% partial('sidebar.ejs', nav.sidebar) %>
</div>
<% } %>

<div class="col mx-auto col-sm-12 col-md-9 col-lg-7">
<main>





