<nav class="navbar fixed-top navbar-expand<%- nav["collapse-below"] %> navbar-<%- nav.type %> bg-<%- nav.background %>">
  <div class="container-fluid">
  <% partial('navbrand.ejs', nav) %>
  <% if (nav.left || nav.right) { %>  
    <% if (nav.collapse === "none") { %>
      <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
      <% partial('navitems.ejs', { align: '', items: nav.right }) %>
      <% if (nav.search) { %>
        <% partial('navsearch.ejs') %>
      <% } %>
    <% } else if (nav.collapse === "left") { %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
      </div> <!-- /navcollapse -->
      <% partial('navitems.ejs', { align: 'ms-auto', items: nav.right }) %>
      <% if (nav.search) { %>
        <% partial('navsearch.ejs') %>
      <% } %>
      <% partial('navtoggle.ejs') %>
    <% } else { %>
      <% partial('navtoggle.ejs') %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
        <% partial('navitems.ejs', { align: '', items: nav.right }) %>
        <% if (nav.search) { %>
          <% partial('navsearch.ejs') %>
        <% } %>
      </div> <!-- /navcollapse -->
    <% } %> 
  <% } %>

  </div> <!-- /container-fluid -->
</nav>