<nav class="navbar fixed-top navbar-expand<%- nav["collapse-below"] %> navbar-<%- nav.type %> bg-<%- nav.background %>">
  <div class="container-fluid">
  <% if (nav.left || nav.right) { %>  
    <% if (nav.collapse === "none") { %>
      <% partial('navbrand.ejs', nav) %>
      <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
      <% partial('navitems.ejs', { align: '', items: nav.right }) %>
    <% } else if (nav.collapse === "left") { %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
      </div> <!-- /navcollapse -->
      <% partial('navitems.ejs', { align: '', items: nav.right }) %>
    <% } else if (nav.collapse === "right") { %>
      <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: '', items: nav.right }) %>
      </div> <!-- /navcollapse -->
    <% } else { %>
      <% partial('navbrand.ejs', nav) %>
      <% partial('navtoggle.ejs') %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'me-auto', items: nav.left}) %>
        <% partial('navitems.ejs', { align: '', items: nav.right }) %>
      </div> <!-- /navcollapse -->
    <% } %>
  <% } else { %>
    <% partial('navbrand.ejs', nav) %>  
  <% } %>
  </div> <!-- /container-fluid -->
</nav>