<% const placeholder = typeof(search) === "string" ? search : "Search" %>
<form class="d-flex pb-1">
  <input id="quarto-search" class="form-control" type="search" placeholder="<%- placeholder %>" aria-label="<%- placeholder %>">
</form>