<nav>
  <% if (logo) { %>
  <img src="<%- logo %>" alt="" class="mw-100"/>
  <% } %>
  <% if (title) { %>
  <h4><%- title %></h4>
  <% } %>
  <% if (search) { %>
    <% partial('navsearch.ejs') %>
  <% } %>
  <ul class="list-unstyled">
  <% contents.forEach(item => { %>
  <% if (item.section && item.items) { %>
    <li class="sidebar-section"><%- item.section %></li>
    <% item.items.forEach(sectionItem => { %>
    <% partial('sidebaritem.ejs', { item: sectionItem }) %>
    <% }) %>
  <% } else if (item.href && item.text) { %>
    <% partial('sidebaritem.ejs', { item }) %>
  <% } %>  
  <% }) %>
  </ul>
</nav>