<nav>
  <% if (sidebar.logo) { %>
  <img src="<%- sidebar.logo %>" alt="" class="quarto-sidebar-logo"/>
  <% } %>
  
  <% if (sidebar.title) { %>
  <h4><%- sidebar.title %></h4>
  <% } %>
  
  <% if (sidebar.search) { %>
    <% partial('navsearch.ejs') %>
  <% } %>

  <% sidebar.items.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 0 }) %>
  <% }) %>

</nav>