<nav>
  <% if (sidebar.logo) { %>
  <img src="<%- sidebar.logo %>" alt="" class="quarto-sidebar-logo px-2"/>
  <% } %>
  
  <% if (sidebar.title) { %>
  <h4><%- sidebar.title %></h4>
  <% } %>
  
  <% if (sidebar.search) { %>
    <% partial('navsearch.ejs') %>
  <% } %>

  <ul class="list-unstyled my-0">
  <% borderColor = sidebar['border-color'] ? 'bg-' + sidebar['border-color'] : '' %>
  <% sidebar.items.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor }) %>
  <% }) %>
  </ul>

</nav>