/*-- scss:defaults --*/

@import url(./fonts/source-sans-pro/source-sans-pro.css);

$backgroundColor: #191919 !default;

$mainFont: "Source Sans Pro", Helvetica, sans-serif !default;
$mainColor: #fff !default;

$headingFontWeight: 600 !default;

$linkColor: #42affa;

/*-- scss:rules --*/

@include light-bg-text-color(#222);
