/*-- scss:defaults --*/

// Quarto diagrams

$mermaid-body-color: #000 !default;
$mermaid-bg-color: #fff !default;
$primary: $mermaid-body-color !default;
$secondary: #2a76dd !default; // is this from --r-link-color in our default theme, but I don't know how to use css variables in scss :shrug:

/* SCSS variables for mermaid diagrams

   These are documented in quarto-cli/quarto-web:docs/authoring/_mermaid-theming.qmd

   Make sure to update the docs if you change these. */
   $mermaid-bg-color: $mermaid-bg-color !default;
   $mermaid-edge-color: darken($secondary, 10%) !default;
   $mermaid-node-fg-color: $mermaid-body-color !default;
   $mermaid-fg-color: $mermaid-body-color !default;
   $mermaid-fg-color--lighter: lighten($mermaid-body-color, 10%) !default;
   $mermaid-fg-color--lightest: lighten($mermaid-body-color, 20%) !default;
   $mermaid-font-family: sans-serif !default;
   $mermaid-label-bg-color: $mermaid-bg-color !default;
   $mermaid-label-fg-color: $primary !default;
   $mermaid-node-bg-color: rgba($primary, 0.1) !default;
   $mermaid-node-fg-color: $primary !default;

