/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #002b36 !default;
$body-color: #93a1a1 !default;
$text-muted: $body-color !default;
$link-color: #268bd2 !default;
$selection-bg: #d33682 !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
$presentation-heading-font: "League Gothic", sans-serif !default;
$presentation-heading-color: #eee8d5 !default;
$presentation-heading-text-transform: uppercase !default;

// Quarto diagrams

$mermaid-body-color: #000;
$mermaid-bg-color: $body-bg;
$primary: $body-color;
$secondary: $link-color;

/* SCSS variables for mermaid diagrams

   These are documented in quarto-cli/quarto-web:docs/authoring/_mermaid-theming.qmd

   Make sure to update the docs if you change these. */
   $mermaid-bg-color: $mermaid-bg-color;
   $mermaid-edge-color: darken($secondary, 10%);
   $mermaid-node-fg-color: $mermaid-body-color;
   $mermaid-fg-color: $mermaid-body-color;
   $mermaid-fg-color--lighter: lighten($mermaid-body-color, 10%);
   $mermaid-fg-color--lightest: lighten($mermaid-body-color, 20%);
   $mermaid-label-bg-color: $mermaid-bg-color;
   $mermaid-label-fg-color: $primary;
   $mermaid-node-bg-color: rgba($primary, 0.1);
   $mermaid-node-fg-color: $primary;


/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
