/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;

// Quarto diagrams

$mermaid-body-color: #000;
$mermaid-bg-color: $body-bg;
$primary: $body-color;
$secondary: $link-color;

/* SCSS variables for mermaid diagrams

   These are documented in quarto-cli/quarto-web:docs/authoring/_mermaid-theming.qmd

   Make sure to update the docs if you change these. */
   $mermaid-bg-color: $mermaid-bg-color;
   $mermaid-edge-color: darken($secondary, 10%);
   $mermaid-node-fg-color: $mermaid-body-color;
   $mermaid-fg-color: $mermaid-body-color;
   $mermaid-fg-color--lighter: lighten($mermaid-body-color, 10%);
   $mermaid-fg-color--lightest: lighten($mermaid-body-color, 20%);
   $mermaid-label-bg-color: $mermaid-bg-color;
   $mermaid-label-fg-color: $primary;
   $mermaid-node-bg-color: rgba($primary, 0.1);
   $mermaid-node-fg-color: $primary;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}
