/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$body-bg: #fff;

$body-color: #222;
$presentation-heading-color: #222;

$presentation-font-size-root: 42px;
$font-family-sans-serif: 'Source Sans Pro', Helvetica, sans-serif;
$presentation-heading-font: 'Source Sans Pro', Helvetica, sans-serif;
$presentation-heading-text-shadow: none;
$presentation-heading-letter-spacing: normal;
$presentation-heading-text-transform: uppercase;
$presentation-heading-font-weight: 600;
$link-color: #2a76dd;
$link-color-hover: lighten( $linkColor, 15% );
$selection-bg: lighten( $linkColor, 25% );

$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.3em;
$presentation-h4-font-size: 1.0em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
