<script type="text/javascript">
  const devServerSocket = new WebSocket('ws://<%- localhost %>:<%- port %>' + window.location.pathname);
  devServerSocket.onopen = () => {
    console.log('Socket connection open. Listening for events.');
  };
  devServerSocket.onmessage = (msg) => {
    if (msg.data.startsWith('reload')) {
      devServerSocket.close();
      const target = msg.data.replace(/^reload/, "").replace(/index\.html$/, "");
      if (target && (target !== window.location.pathname)) {
        window.location.replace(target.replace(/index\.html$/, ""))
      } else {
        window.location.reload(true);
      }
    }
  };
</script>