
<script type="text/javascript">
(function() {

  var origin = "<%- origin %>";
  var search = "<%- search %>";

  function isLocalHref(href) {
    return href.startsWith(origin);
  }

  function ensureLinkOpensInNewWindow(linkEl) {

    var useOpenExternalMessage =
      search.includes("quartoPreviewReqId=") &&
      window.parent.postMessage;

    if (useOpenExternalMessage) {
      linkEl.addEventListener("click", function(event) {
        window.parent.postMessage({
          type: "openExternal",
          url: linkEl.href,
        }, "*");
        event.preventDefault();
        return false;
      });
    }

    var isRStudio = search.includes("capabilities=");
    if (isRStudio) {
      linkEl.target = "_blank";
    }

  }

  function initialize() {
    var linkEls = document.getElementsByTagName("a");
    for (var linkEl of linkEls) {
      if (!isLocalHref(linkEl.href)) {
        ensureLinkOpensInNewWindow(linkEl);
      }
    }
  }

  initialize();

})();

</script>
