@import "bootstrap";

// Heading font size customization
$h1-font-size: 2.2rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.1rem !default;

// Body max-width
$max-width: 1400px !default;

// Speed up the default transition for the navbar
$transition-collapse: height .20s ease !default;

// notice colors
$notice-border-width: 3px !default;
$notice-bg-scale: -80% !default;
$notice-fill-scale: -20% !default;
$notice-border-scale: -50% !default;
$notice-color-scale: 40% !default;
$notice-link-scale: 20% !default;
$notice-margin-bottom: 1rem !default;

// notice-warning
$notice-warning: $warning !default;
$notice-warning-color: shift-color($notice-warning, $notice-color-scale) !default;
$notice-warning-background: shift-color($notice-warning, $notice-bg-scale) !default;
$notice-warning-border: shift-color($notice-warning, $notice-border-scale) !default;
$notice-warning-link: shift-color($notice-warning, $notice-link-scale) !default;
$notice-warning-fill: shift-color($notice-warning, $notice-fill-scale) !default;

$notice-warning-bg-img: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$notice-warning-fill}" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>') !default;


// no icon support .no-icon == hidden
// svg currentColor?