body {
  max-width: $max-width;
  @if variable-exists(margin-top) {
    margin-top: $margin-top;
  }
  @if variable-exists(margin-bottom) {
    margin-bottom: $margin-bottom;
  }
  @if variable-exists(margin-left) {
    margin-left: $margin-left;
  }
  @if variable-exists(margin-right) {
    margin-right: $margin-right;
  }
}

code,
kbd,
pre,
samp {
  @if variable-exists(mono-background-color) {
    background-color: $mono-background-color;
  }
  @if variable-exists(mono-padding) {
    padding: $mono-padding;
  }
}

pre.sourceCode {
  @if variable-exists(codeblock-padding-left) {
    padding-left: $codeblock-padding-left;
  }
  @if variable-exists(codeblock-border-left) {
    border-left: $codeblock-border-left;
  }
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 0.5rem;
}

h3,
h4 {
  margin-top: 1.5rem;
}

/* workaround for anchorjs not hitting on generic :hover selector */
h2:hover > .anchorjs-link,
h3:hover > .anchorjs-link,
h4:hover > .anchorjs-link,
h5:hover > .anchorjs-link,
h6:hover > .anchorjs-link {
  opacity: 1;
}

.sidebar {
  padding-top: 1.2em;
}

// Source Code Blocks
pre.sourceCode,
code.sourceCode {
  border-color: $gray-200 !important;
}

/* table of contents */
.sidebar-toc > nav > h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  font-family: inherit;
  border-bottom: 0;
  padding-bottom: 0;
}

.sidebar-toc > nav ul {
  padding-left: 0;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 300;
}

.sidebar-toc > nav ul li a {
  padding-left: 0;
  padding-bottom: 0.15rem;
  padding-top: 0;
  color: inherit;
}

.sidebar-toc > nav ul > li > ul > li > a {
  padding-left: 0.6rem;
  border-left: 2px solid $gray-200;
}

.sidebar-toc > nav ul > li > ul > li > a.active {
  border-color: $primary;
  color: $primary !important;
}

.sidebar-toc > nav ul > li > a.active {
  border-color: $primary;
  color: $primary !important;
}

// Cards with header

div[class^='notice-'] {
  border-left: $notice-border-weight solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 1em;
}

div[class^='notice-']  > div.card-header {
  border-bottom: none;
}

div.notice-warning {
  background-color: $notice-warning-background;
  border-color: $notice-warning-border;
}

div.notice-danger {
  background-color: $notice-danger-background;
  border-color: $notice-danger-border;
}