<style type="text/css">
<%= themeCss %>
</style>

<style type="text/css">

<%= maxWidth %>

:root {
  font-size: <%= fontsize %>;
}

body {
  margin-top: <%= margintop %>;
  margin-bottom: <%= marginbottom %>;
  margin-left: <%= marginleft %>;
  margin-right: <%= marginright %>;
  <%= mainfont %>
  <%= fontcolor %>
  <%= backgroundcolor %>
  <%= linestretch %>
}

a {
 <%= linkcolor %> 
}

code, kbd, pre, samp {
  <%= monofont %>
  <%= monoBackground %>
}

pre.sourceCode {
  <%= codeblockBorder %>
}

</style>